*{
    padding: 0px;
    margin: 0px;
}

.container0{
    width: 1213px;
    height: 830px;
    left: 193px;
    top: 173px;
    border: 5px solid black;
}

h1{
    font-size: 32px;
    width: 91px;
    height: 40px;
    margin-top: 100px;
    margin-right:1022px ;
    margin-left: 100px;

}

.container{
    display: flex;
    justify-content: space-between;
    width: 1013px;
    height: 64px;
    margin-left: 100px;
    margin-right: 100px;
    position: absolute;
    
}

.container .input{
    width: 327px;
    height: 64px;
    border: 1px solid #BFC8E6;
    align-items: center;
    border-radius: 4px;
    color: #BFC8E6;
    margin-top: 24px;
}

.container .input input{
    margin: 16px 16px 16px 16px;
    width: 293px;
    height: 30px;
    border: none;
}

.container .menu{
    display: flex;
    border: 1px solid black;
    align-items: center;
    width: 534px;
    height: 56px;
    padding: 0px;
    border-radius: 4px;
    margin-left: 152px;
    border: none;
    font-size: 16px;
    padding-top: 28px;
}

.container .menu .content{
    width: 121px;
    height: 36px;
    text-align: center;
    padding-top: 16px;


}

.container .menu .new-user{
    width: 121px;
    height: 36px;
    background-color:  #849FFF ;
    border-radius: 8px;
    text-align: center;
    padding-top: 16px;
}


.container2{
    margin-top: 125px;
    margin-left: 100px;
    display: flex;
    gap: 16px;
}

.container2 .infor{
    display: flex;
    background: #FBFCFF;
    height: 208px;
    width: 327px;
    border-radius: 16px;

}

.container2 .infor .image{
    margin-top: 24px;
    margin-left: 24px;
}

.container2 .infor .inforleah{
    margin-left: 16px;
}

.container2 .infor .inforleah .text{
    width: 125px;
    height: 68px;
    margin-top: 24px;
    margin-right: 65px;
    gap: 4px;
}

.container2 .infor .inforleah .text .text1{
    padding-top: 20px;
    color: #151B32;
    font-weight: 900;
    font-size: 18px;
    padding-bottom: 4px;
}
.container2 .infor .inforleah .text .text2{
    width: 52px;
    height: 21px;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 4px;
    color: #151B32;
}

.container2 .infor .inforleah .text-button{
    display: flex;
    height: 22px;
    width: 112px;
    margin-top: 16px;
}

.container2 .infor .inforleah .text-button .btn1{
    border: 1px solid #BFC8E6;
    height: 22px;
    width: 66px;
    border-radius: 10px;
    padding: 2px 8px 2px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #516FD4;
    text-align: center;
}

.container2 .infor .inforleah .text-button .btn2{
    border: 1px solid #BFC8E6;
    height: 22px;
    width: 66px;
    border-radius: 10px;
    padding: 2px 8px 2px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #516FD4;
    text-align: center;
}





.container2{
    margin-top: 125px;
    margin-left: 100px;
    display: flex;
    gap: 16px;
}

.container2 .infor{
    display: flex;
    background: #FBFCFF;
    height: 208px;
    width: 327px;
    border-radius: 16px;

}

.container2 .infor .image{
    margin-top: 24px;
    margin-left: 24px;
}

.container2 .infor .inforleah{
    margin-left: 16px;
}

.container2 .infor .inforleah .text{
    width: 125px;
    height: 68px;
    margin-top: 24px;
    margin-right: 65px;
    gap: 4px;
}

.container2 .infor .inforleah .text .text1{
    padding-top: 20px;
    color: #151B32;
    font-weight: 900;
    font-size: 18px;
    padding-bottom: 4px;
}
.container2 .infor .inforleah .text .text2{
    width: 52px;
    height: 21px;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 4px;
    color: #151B32;
}

.container2 .infor .inforleah .text-button{
    display: flex;
    height: 22px;
    width: 112px;
    margin-top: 16px;
}

.container2 .infor .inforleah .text-button .btn1{
    border: 1px solid #BFC8E6;
    height: 22px;
    width: 66px;
    border-radius: 10px;
    padding: 2px 8px 2px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #516FD4;
    text-align: center;
}

.container2 .infor .inforleah .text-button .btn2{
    border: 1px solid #BFC8E6;
    height: 22px;
    width: 66px;
    border-radius: 10px;
    padding: 2px 8px 2px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #516FD4;
    text-align: center;
}









.container2{
    margin-top: 125px;
    margin-left: 100px;
    display: flex;
    gap: 16px;
}

.container2 .infor{
    display: flex;
    background: #FBFCFF;
    height: 208px;
    width: 327px;
    border-radius: 16px;

}

.container2 .infor .image{
    margin-top: 24px;
    margin-left: 24px;
}

.container2 .infor .inforleah{
    margin-left: 16px;
}

.container2 .infor .inforleah .text{
    width: 125px;
    height: 68px;
    margin-top: 24px;
    margin-right: 65px;
    gap: 4px;
}

.container2 .infor .inforleah .text .text1{
    padding-top: 20px;
    color: #151B32;
    font-weight: 900;
    font-size: 18px;
    padding-bottom: 4px;
}
.container2 .infor .inforleah .text .text2{
    width: 52px;
    height: 21px;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 4px;
    color: #151B32;
}

.container2 .infor .inforleah .text-button{
    display: flex;
    height: 22px;
    width: 112px;
    margin-top: 16px;
}

.container2 .infor .inforleah .text-button .btn1{
    border: 1px solid #BFC8E6;
    height: 22px;
    width: 66px;
    border-radius: 10px;
    padding: 2px 8px 2px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #516FD4;
    text-align: center;
}

.container2 .infor .inforleah .text-button .btn2{
    border: 1px solid #BFC8E6;
    height: 22px;
    width: 66px;
    border-radius: 10px;
    padding: 2px 8px 2px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #516FD4;
    text-align: center;
}


.container2{
    margin-top: 125px;
    margin-left: 100px;
    display: flex;
    gap: 16px;
}

.container2 .infor{
    display: flex;
    background: #FBFCFF;
    height: 208px;
    width: 327px;
    border-radius: 16px;

}

.container2 .infor .image{
    margin-top: 24px;
    margin-left: 24px;
}

.container2 .infor .inforleah{
    margin-left: 16px;
}

.container2 .infor .inforleah .text{
    width: 125px;
    height: 68px;
    margin-top: 24px;
    margin-right: 65px;
    gap: 4px;
}

.container2 .infor .inforleah .text .text1{
    padding-top: 20px;
    color: #151B32;
    font-weight: 900;
    font-size: 18px;
    padding-bottom: 4px;
}
.container2 .infor .inforleah .text .text2{
    width: 52px;
    height: 21px;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 4px;
    color: #151B32;
}

.container2 .infor .inforleah .text-button{
    display: flex;
    height: 22px;
    width: 112px;
    margin-top: 16px;
}

.container2 .infor .inforleah .text-button .btn1{
    border: 1px solid #BFC8E6;
    height: 22px;
    width: 66px;
    border-radius: 10px;
    padding: 2px 8px 2px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #516FD4;
    text-align: center;
}

.container2 .infor .inforleah .text-button .btn2{
    border: 1px solid #BFC8E6;
    height: 22px;
    width: 66px;
    border-radius: 10px;
    padding: 2px 8px 2px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #516FD4;
    text-align: center;
}









.container3{
    margin-top: 16px;
    margin-left: 100px;
    display: flex;
    gap: 16px;
}

.container3 .infor{
    display: flex;
    background: #FBFCFF;
    height: 208px;
    width: 327px;
    border-radius: 16px;

}

.container3 .infor .image{
    margin-top: 24px;
    margin-left: 24px;
}

.container3 .infor .inforleah{
    margin-left: 16px;
}

.container3 .infor .inforleah .text{
    width: 125px;
    height: 68px;
    margin-top: 24px;
    margin-right: 65px;
    gap: 4px;
}

.container3 .infor .inforleah .text .text1{
    padding-top: 20px;
    color: #151B32;
    font-weight: 900;
    font-size: 18px;
    padding-bottom: 4px;
}
.container3 .infor .inforleah .text .text2{
    width: 52px;
    height: 21px;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 4px;
    color: #151B32;
}

.container3 .infor .inforleah .text-button{
    display: flex;
    height: 22px;
    width: 112px;
    margin-top: 16px;
}

.container3 .infor .inforleah .text-button .btn1{
    border: 1px solid #BFC8E6;
    height: 22px;
    width: 66px;
    border-radius: 10px;
    padding: 2px 8px 2px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #516FD4;
    text-align: center;
}

.container3 .infor .inforleah .text-button .btn2{
    border: 1px solid #BFC8E6;
    height: 22px;
    width: 66px;
    border-radius: 10px;
    padding: 2px 8px 2px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #516FD4;
    text-align: center;
}

















